{{#*inline "page"}}
  
  <div>
    <table class="nostyle">
      <thead>
        <tr>
          <td>User</td>
          <td>Date</td>
          <td>Duration</td>
          <td>Project</td>
        </tr>
      </thead>
      <tbody id="rows">
        {{#each logs}}
          <tr>
            <td>{{email}}</td>
            <td>{{date}}</td>
            <td>{{duration}}</td>
            <td>{{project}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{/inline}}
{{~> base~}}